:root {
  --padding: 10px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  z-index: 1;
  line-height: 1em;
  font-size: 16px;
}

.app-container {
  min-height: 100vh;
  color: black;

}

nav {
  /* how to put sticky navbar */
  position: fixed;
  top: 0;
  width: 100%;
  /* how to put sticky navbar */
  display: flex;
  padding-top: 0.3em;
  justify-content: center;
  color: white;
  /* because there's a bug that some elements overlap */
  z-index: 2;

}

nav ul {
  display: inline-flex;
  list-style: none;
  align-items: center;
}

nav li {
  margin-inline: 2em;
  font-size: 1.1em;
}

nav li:hover {
  color:white;
  border-bottom: 2px solid white;
}

/* styling below can shrink your images on browser resize */
nav img {
  width: 100%;
  max-width: 120px;
  height: auto;
  min-width: 50px;
  margin-block: 0.5em;

}

/* for sticky navbar on scroll */
.sticky {
  color: black;
  background-color: rgba(255,255,255, 0.5);
  -webkit-backdrop-filter: blur(1em);
  backdrop-filter: blur(1em);
}

.sticky ul {
  color: black;
}

.sticky li:hover  {
  color:black;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.sticky img {
  width: 100%;
  max-width: 70px;
  min-width: 30px;
  height: auto;
}
/* hero section */
.hero {
  padding-top: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 120px;
}

.hero h1 {
  letter-spacing: 10px;
  font-size: 12em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.hero h4 {
  font-size: 1.8em;
  margin-bottom: 0.6em;
}

.hero p {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.hero i {
  position: absolute;
  bottom: 3em;
  z-index: 1;
}

/* content section */

/* allows to select the second h1 in the container*/
.content {
  padding-inline: 12%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 2fr;
  padding-block-end: 25px;
  column-gap: 25px;
}

.content-reversed {
  padding-inline: 12%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 2fr;
  padding-block-end: 25px;
  column-gap: 25px;
}

.content > * , .content-reversed > * {
  border-radius: 20px;
  max-height: 450px;
}


/* Executive hero section*/

.executive-section {
  padding-inline: 12%;
  padding-block-end: 10px;
  align-items: center;
}

/*testimonial section */

.testimonial-cards {
  
}

.testimonial-occupation > *:nth-child(2) {
  justify-self: center;
}

.testimonial-occupation img {
  max-height: 50px;
}

/* testimonial sign-up section */

.contact-sign-up {
  display: grid;
  /* 2 columns with equal width*/
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 10px;
  padding-block-end: 10px;
  
}

/* makes the email field bigger than the name field*/
 .contact-sign-up div:nth-child(2) {
  grid-column: 2 / span 2;
}  

.contact-sign-up p {
  margin-block-end: 5px;
}

.contact-sign-up input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-family: 'Poppins';
  padding: 10px;
  
}
/* utilities */


.transition {
  transition: all 0.6s ease-out;
}

/* color utilities */

.gradient {
  /* gradient background so that navbar won't disappear*/
  background: hsla(334, 88%, 50%, 1);
  background: linear-gradient(0deg, hsla(334, 88%, 50%, 1) 0%, hsla(21, 98%, 52%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(334, 88%, 50%, 1) 0%, hsla(21, 98%, 52%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(334, 88%, 50%, 1) 0%, hsla(21, 98%, 52%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF0F71", endColorstr="#FC5F0D", GradientType=1);
}

.green-gradient {
  background: rgb(112,229,117);
  background: linear-gradient(120deg, rgba(112,229,117,1) 0%, rgba(112,229,117,1) 30%, rgba(131,237,201,1) 100%);
}

.green-solid {
  background-color: #1e3a27;
}

.blue-gradient {
  background: rgb(31,173,230);
  background: linear-gradient(120deg, rgba(31,173,230,1) 0%, rgba(93,202,231,1) 60%, rgba(93,202,231,1) 100%);
}

.blue-solid {
  background-color: #12303a;
}

.purple-gradient {
  background: rgb(141,89,225);
  background: linear-gradient(150deg, rgb(130, 66, 231) 0%, rgba(168,117,233,1) 70%, rgba(194,147,231,1) 100%);
}

.yellow-gradient {
  background: rgb(255,168,81);
  background: linear-gradient(140deg, rgba(255,168,81,1) 0%, rgba(255,189,84,1) 40%, rgba(255,222,89,1) 100%);
}

.peach-gradient {
  background: rgb(253,117,108);
  background: linear-gradient(140deg, rgba(253,117,108,1) 0%, rgba(254,133,106,1) 60%, rgba(255,156,121,1) 100%);
}

.white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-white-smoke {
  background-color: whitesmoke;
}

.bg-black-opaque {
  background-color: rgba(0, 0, 0, 0.664);
}

/* arrow down icon */
.arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.margin-block-end {
  margin-block-end: 80px;
}

.padding-block-end {
  padding-block-end: 80px;
}

/* reverse column for a 2 column */
.reverse-column {
  grid-column: 2;
}

.col-2-fr-1 {
  display: grid;
  /* 2 columns with equal width*/
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  }

  .content-title {
    padding-block: 50px;
    padding-inline: 12%;
  }

  .button {
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    padding-inline: 40px;
    padding-block: 20px;
  }

  .h1 {
    font-size: 2em;
  }

  .h1-1-6 {
    font-size: 1.6em
  }


  .p {
    font-size: 1em;
    padding-block-end: 20px;
    line-height: 1.5em;
  }

  .p-occupation {
    font-size: 1em;
    line-height: 1.1em;
  }

  .word-padding {
    padding-block: 50px;
    padding-inline: 50px;
  }

  .row-gap {
    padding-block-end: 30px;
  }

  .content-border {
    border-radius: 20px;
  }

  .title-h1 {
    justify-self: stretch;
    font-size: 4.5em;
    line-height: 1.3em;
  }

  .padding-inline {
    padding-inline: 12%;
  }

  .padding-inline-40 {
    padding-inline: 11%;
  }

